# Dossiers Node.js
node_modules/
dist/
build/

# Environnement Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Dossiers de configurations IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers de build
/dist
/build
/tmp

# Fichiers de dépendances
package-lock.json
yarn.lock
